*{
    margin: 0;
    box-sizing: border-box;
}
body{
    /* position: relative; */
}
#container{
    width:100%;
    height: 100%;
}
header{
    background-color:#FFA500;
    position: fixed;
    top: 0;
    width: 100%;
}
.content{
    position: absolute;
    display: flex;
    margin-top: 30px;
    width: 100%;
    height: calc(100% - 30px);
}
menu{
    background-color:#FFD700;
    width:200px;
    padding: 20px;
    padding-left: 0px;
}
.menu-item{
    cursor: pointer;
}
.menu-item:hover,
.cur-menu-selected{
    color: #fff;
}

main{
    padding: 20px 20px 40px;
    background-color: #EEEEEE;
    width: 100%;
    overflow-y: scroll;
}
/* 先让所有的菜单内容都隐藏 */
.content-item{
    display: none;
}
.ellipsis{
    display: inline-block;
    width: 500px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
.explanatione{
    font-size: 13px;
    color: #716a6a;
}
.content-ele{
    display: block;
}
.img{
    width: 50%;
    margin: 10px 0;
}
p{
    line-height: 1.5;
}
ul li{
    line-height: 1.5;
}
.pointer{
    cursor: pointer;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#FFA500;
    clear:both;
    text-align:center;
}